#movies .movie {
	width: 32.2%;
	display: block;
	float:left;
	margin: 0 1% 2% 0;
	box-shadow:0 0 0.5em #ccc;
	border-radius:.5em;
	background:#fff;
}
#movies .movie img {
	border-radius: .5em .5em 0 0;
  	width: 100%;
}
#movies .movie .over {
	border-radius: 0 0 .5em .5em;
	position:relative;
	padding: 0.5em 1em;
	font:400 .8em/1.6 "Open Sans",sans-serif;
	white-space: nowrap;
	word-wrap: normal;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	overflow: hidden;
	text-overflow: ellipsis;
	display:block;
	font-size: 0.8em;
}
#movies .movie .over .rating {
	float:right;
	width: auto;
	height: auto;
	font-size: 1em;
}
#movies .movie .over .year {
	float:left;
}

@media only screen and (max-width: 480px) {
	#movies .movie {
 		width: 100%;
	}
}
